@tailwind base;
@tailwind components;
@tailwind utilities;
  

.gradient-text-black-white{ 
   background: linear-gradient(to right, #FFFFFF 85%, #21242F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}